body {
    margin: 2%;
}

.header {
    text-align: center;
    font-size: large;
}

.button {
    text-align: center;
    padding: 10px 3px 10px; 
}

#quoteDisplay {
    border: 2px solid black;
    padding: 41.031px;
    margin: 30px 25% 30px 25%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.10); 
    color: black;
}